{# roles/nomad_driver_podman/templates/nomad/podman.hcl.j2
 # =======================================================
 #
 # Copying
 # -------
 #
 # Copyright (c) 2022 universe.hashicorp authors and contributors.
 #
 # This file is part of the *universe.hashicorp* project.
 #
 # *universe.hashicorp* is a free software project. You can redistribute it
 # and/or modify it following the terms of the MIT License.
 #
 # This software project is distributed *as is*, WITHOUT WARRANTY OF ANY KIND;
 # including but not limited to the WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 # PARTICULAR PURPOSE and NONINFRINGEMENT.
 #
 # You should have received a copy of the MIT License along with
 # *universe.hashicorp*. If not, see <http://opensource.org/licenses/MIT>.
 #}
plugin "{{ nomad_driver_podman_package_name }}" {
    config {
        client_http_timeout = "{{ nomad_driver_podman_client_http_timeout }}"
        disable_log_collection = {{ nomad_driver_podman_disable_log_collection | lower }}
        {% if nomad_driver_podman_socket_path %}
        socket_path = "{{ nomad_driver_podman_socket_path }}"
        {% endif %} {# nomad_driver_podman_socket_path #}
    }

    gc {
        container = {{ nomad_driver_podman_gc_container | lower }}
    }

    volumes {
        enabled = {{ nomad_driver_podman_volumes_enabled | lower }}
        selinuxlabel = "{{ nomad_driver_podman_volumes_selinux_label }}"
    }
}
